* {
    box-sizing: border-box;
  }
  

  body {
    margin: 0px;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }

  header {
    padding: 30px 4% 10px ;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
 }
 h1 {
    margin: 0; padding: 0;
    font-size: 20px;
 }
 a {	
    text-decoration: none;
    color: #4b4b4b;
 }
 nav {
    margin: 0 0 0 auto;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 .pc-nav li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }

 .fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

  .fadeUpTrigger{
    opacity: 0;
}
  .titleimg{
    padding: 100px 0px 0px 0px;
  }
  .titleimg video{
    width: 100%;
    display: block;
    margin: auto;
  }

  .caption{
     text-align: center;
     padding: 5%;
  }
h2{
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

  .news{
    text-align: center;
    margin: 50px;
  }

  .date{
    color: #909090;
  }

  .whatis{
    margin: 100px;
  }

  .place{
    margin: 100px;
    text-align: center;
  }

  .place img{
    margin: 5%;
    width: 90%;
  }
  .qanda{
    margin:100px;
    text-align: center;
  }

    .info{
    margin:100px;
    text-align: center;
  }

  .flex {
    display: flex; /*横並び*/
    justify-content: center;
  }
  .flex .image {
    width: 300px; /*画像サイズ指定*/
    margin: 0;
    padding: 0;
  }
  .flex .image img {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }
  .flex .text {
    margin: 0 0 0 20px;
    padding: 0;
  }

  .question{
    font-weight: bold;
  }

  .sns-btn img{
    margin: 10px;
    }

  footer p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
  }
  
  footer {
    padding: 1%;
    width: 100%;
    height: 70px;
    background-color: #303030;
    color: white;
    text-align: center;
  }
