* {
    box-sizing: border-box;
  }
  

  body {
    margin: 0px;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }

  header{
    margin :0%;
    width: 100%;
    height: 70px;
    background-color: #303030;
    color: white;
}

header h1{
    font-size: 30px;
    padding: 15px;
}

  .titleimg img{
    width: 100%;
  }

  .caption{
     text-align: center;
     padding: 5%;
  }
h2{
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

  .news{
    text-align: center;
    margin: 50px;
  }

  .date{
    color: #909090;
  }

  .whatis{
    margin: 100px;
  }

  .place{
    margin: 100px;
    text-align: center;
  }

  .info{
    margin: 100px;
    text-align: center;
  }


  .flex {
    display: flex; /*横並び*/
    justify-content: center;
  }
  .flex .image {
    width: 300px; /*画像サイズ指定*/
    margin: 0;
    padding: 0;
  }
  .flex .image img {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }
  .flex .text {
    margin: 0 0 0 20px;
    padding: 0;
  }

  footer p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
  }
  
  footer {
    padding: 1%;
    width: 100%;
    height: 70px;
    background-color: #303030;
    color: white;
    text-align: center;
  }
